<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.ninng.mapper.CommentMapper">

    <resultMap id="BaseResultMap" type="top.ninng.entity.Comment">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="userId" column="user_id" jdbcType="INTEGER"/>
        <result property="articleId" column="article_id" jdbcType="INTEGER"/>
        <result property="parentId" column="parent_id" jdbcType="INTEGER"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="deleteStatus" column="delete_status" jdbcType="BIT"/>
        <result property="status" column="status" jdbcType="TINYINT"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="email" column="email" jdbcType="VARCHAR"/>
        <result property="content" column="content" jdbcType="VARCHAR"/>
        <result property="site" column="site" jdbcType="VARCHAR"/>
        <result property="ip" column="ip" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,user_id,article_id,
        parent_id,create_time,update_time,
        delete_status,status,name,
        email,content,site,
        ip
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from comment
        where id = #{id,jdbcType=INTEGER}
    </select>

    <select id="selectCommentByArticleId" resultType="top.ninng.entity.Comment" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from comment
        where article_id=#{articleId,jdbcType=INTEGER}
    </select>

    <select id="selectCommentByParentId" resultType="top.ninng.entity.Comment" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from comment
        where parent_id=#{parentId,jdbcType=INTEGER}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete
        from comment
        where id = #{id,jdbcType=INTEGER}
    </delete>

    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="top.ninng.entity.Comment"
            useGeneratedKeys="true">
        insert into comment
        ( id, user_id, article_id
        , parent_id, create_time, update_time
        , delete_status, status, name
        , email, content, site
        , ip)
        values ( #{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{articleId,jdbcType=INTEGER}
               , #{parentId,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
               , #{deleteStatus,jdbcType=BIT}, #{status,jdbcType=TINYINT}, #{name,jdbcType=VARCHAR}
               , #{email,jdbcType=VARCHAR}, #{content,jdbcType=VARCHAR}, #{site,jdbcType=VARCHAR}
               , #{ip,jdbcType=VARCHAR})
    </insert>

    <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="top.ninng.entity.Comment"
            useGeneratedKeys="true">
        insert into comment
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="userId != null">user_id,</if>
            <if test="articleId != null">article_id,</if>
            <if test="parentId != null">parent_id,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="deleteStatus != null">delete_status,</if>
            <if test="status != null">status,</if>
            <if test="name != null">name,</if>
            <if test="email != null">email,</if>
            <if test="content != null">content,</if>
            <if test="site != null">site,</if>
            <if test="ip != null">ip,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id,jdbcType=INTEGER},</if>
            <if test="userId != null">#{userId,jdbcType=INTEGER},</if>
            <if test="articleId != null">#{articleId,jdbcType=INTEGER},</if>
            <if test="parentId != null">#{parentId,jdbcType=INTEGER},</if>
            <if test="createTime != null">#{createTime,jdbcType=TIMESTAMP},</if>
            <if test="updateTime != null">#{updateTime,jdbcType=TIMESTAMP},</if>
            <if test="deleteStatus != null">#{deleteStatus,jdbcType=BIT},</if>
            <if test="status != null">#{status,jdbcType=TINYINT},</if>
            <if test="name != null">#{name,jdbcType=VARCHAR},</if>
            <if test="email != null">#{email,jdbcType=VARCHAR},</if>
            <if test="content != null">#{content,jdbcType=VARCHAR},</if>
            <if test="site != null">#{site,jdbcType=VARCHAR},</if>
            <if test="ip != null">#{ip,jdbcType=VARCHAR},</if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="top.ninng.entity.Comment">
        update comment
        <set>
            <if test="userId != null">
                user_id = #{userId,jdbcType=INTEGER},
            </if>
            <if test="articleId != null">
                article_id = #{articleId,jdbcType=INTEGER},
            </if>
            <if test="parentId != null">
                parent_id = #{parentId,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="deleteStatus != null">
                delete_status = #{deleteStatus,jdbcType=BIT},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=TINYINT},
            </if>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="email != null">
                email = #{email,jdbcType=VARCHAR},
            </if>
            <if test="content != null">
                content = #{content,jdbcType=VARCHAR},
            </if>
            <if test="site != null">
                site = #{site,jdbcType=VARCHAR},
            </if>
            <if test="ip != null">
                ip = #{ip,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

    <update id="updateByPrimaryKey" parameterType="top.ninng.entity.Comment">
        update comment
        set user_id       = #{userId,jdbcType=INTEGER},
            article_id    = #{articleId,jdbcType=INTEGER},
            parent_id     = #{parentId,jdbcType=INTEGER},
            create_time   = #{createTime,jdbcType=TIMESTAMP},
            update_time   = #{updateTime,jdbcType=TIMESTAMP},
            delete_status = #{deleteStatus,jdbcType=BIT},
            status        = #{status,jdbcType=TINYINT},
            name          = #{name,jdbcType=VARCHAR},
            email         = #{email,jdbcType=VARCHAR},
            content       = #{content,jdbcType=VARCHAR},
            site          = #{site,jdbcType=VARCHAR},
            ip            = #{ip,jdbcType=VARCHAR}
        where id = #{id,jdbcType=INTEGER}
    </update>
</mapper>
